In [1]:
import pandas as pd
import numpy as np
dataset_1 = pd.read_csv('data/dataset1_preprocessing.csv') 
dataset_2 = pd.read_csv('data/dataset2_preprocessing.csv')

<h3>TF-IDF of Dataset 1</h3>

In [2]:
dataset_1.head()

,title,description,content,length,article
0,NTSB says Autopilot engaged in 2018 California...,The National Transportation Safety Board said ...,WASHINGTON (Reuters) - The National Transporta...,578,"['ntsb', 'says', 'autopilot', 'engaged', 'cali..."
1,Unemployment falls to post-crash low of 5.2%,Latest monthly figures reflect continued growt...,The States jobless rate fell to 5.2 per cent l...,387,"['unemployment', 'falls', 'post', 'crash', 'low']"
2,"Louise Kennedy AW2019: Long coats, sparkling t...",Autumn-winter collection features designer’s g...,Louise Kennedy is showing off her autumn-winte...,432,"['louise', 'kennedy', 'aw2019', 'long', 'coats..."
3,North Korean footballer Han joins Italian gian...,Han is the first North Korean player in the Se...,"Han Kwang Song, the first North Korean footbal...",446,"['north', 'korean', 'footballer', 'han', 'join..."
4,'This Tender Land' is an affecting story about...,"""This Tender Land"" by William Kent Krueger is ...","""This Tender Land: a Novel"" (Atria Books), by ...",500,"['tender', 'land', 'affecting', 'story', 'grow..."

In [3]:
# convert list formated string to list
import ast

def convert_text_list(texts):
    texts = ast.literal_eval(texts)
    return [text for text in texts]

dataset_1["article_list"] = dataset_1["article"].apply(convert_text_list)


print(dataset_1["article_list"][90])

print("\ntype : ", type(dataset_1["article_list"][90]))

['gregor', 'townsend', 'believes', 'scotland', 'never', 'better', 'position']

type :  <class 'list'>

In [4]:
def calc_TF(document):
    # Counts the number of times the word appears in review
    TF_dict = {}
    for term in document:
        if term in TF_dict:
            TF_dict[term] += 1
        else:
            TF_dict[term] = 1
    # Computes tf for each word
    for term in TF_dict:
        TF_dict[term] = TF_dict[term] / len(document)
    return TF_dict

dataset_1["TF_dict"] = dataset_1['article_list'].apply(calc_TF)

dataset_1["TF_dict"].head()

0    {'ntsb': 0.14285714285714285, 'says': 0.142857...
1    {'unemployment': 0.2, 'falls': 0.2, 'post': 0....
2    {'louise': 0.1, 'kennedy': 0.1, 'aw2019': 0.1,...
3    {'north': 0.125, 'korean': 0.125, 'footballer'...
4    {'tender': 0.2, 'land': 0.2, 'affecting': 0.2,...
Name: TF_dict, dtype: object

In [5]:
# Check TF result
index = 90

print('%20s' % "term", "\t", "TF\n")
for key in dataset_1["TF_dict"][index]:
    print('%20s' % key, "\t", dataset_1["TF_dict"][index][key])

                term 	 TF

              gregor 	 0.14285714285714285
            townsend 	 0.14285714285714285
            believes 	 0.14285714285714285
            scotland 	 0.14285714285714285
               never 	 0.14285714285714285
              better 	 0.14285714285714285
            position 	 0.14285714285714285

In [6]:
def calc_DF(tfDict):
    count_DF = {}
    # Run through each document's tf dictionary and increment countDict's (term, doc) pair
    for document in tfDict:
        for term in document:
            if term in count_DF:
                count_DF[term] += 1
            else:
                count_DF[term] = 1
    return count_DF

DF = calc_DF(dataset_1["TF_dict"])
DF

{'ntsb': 8,
 'says': 440,
 'autopilot': 4,
 'engaged': 2,
 'california': 77,
 'tesla': 22,
 'crash': 53,
 'unemployment': 4,
 'falls': 14,
 'post': 32,
 'low': 39,
 'louise': 4,
 'kennedy': 11,
 'aw2019': 3,
 'long': 40,
 'coats': 2,
 'sparkling': 3,
 'tweed': 3,
 'dresses': 2,
 'emerald': 3,
 'knits': 3,
 'north': 70,
 'korean': 10,
 'footballer': 2,
 'han': 1,
 'joins': 11,
 'italian': 23,
 'giants': 8,
 'juventus': 5,
 'tender': 2,
 'land': 11,
 'affecting': 3,
 'story': 35,
 'growing': 15,
 'eu': 80,
 'wants': 43,
 'see': 33,
 'lawmakers': 16,
 'block': 23,
 'brexit': 243,
 'striking': 5,
 'new': 498,
 'deal': 163,
 'uks': 12,
 'johnson': 142,
 'european': 21,
 'third': 32,
 'quarter': 22,
 'profit': 11,
 'outlook': 11,
 'improves': 5,
 'slightly': 1,
 'still': 57,
 'recession': 25,
 'refinitv': 1,
 'emotional': 6,
 'support': 41,
 'animals': 10,
 'allowed': 9,
 'flights': 19,
 'boris': 84,
 'meet': 44,
 'leo': 3,
 'varadkar': 16,
 'dublin': 49,
 'monday': 18,
 'afghan': 13,
 'peace': 32,
 'bring': 21,
 'people': 90,
 'daniil': 3,
 'medvedev': 9,
 'rides': 5,
 'wave': 13,
 'hostility': 2,
 'us': 615,
 'open': 70,
 'marks': 6,
 'spencer': 3,
 'kicked': 4,
 'ftse': 3,
 'first': 142,
 'time': 87,
 'neil': 7,
 'lennon': 2,
 'celtic': 11,
 'manager': 20,
 'pleased': 4,
 'clubs': 6,
 'transfer': 1,
 'business': 78,
 'putney': 1,
 'child': 30,
 'murder': 64,
 'suspects': 5,
 'detained': 7,
 'police': 157,
 'attack': 78,
 'school': 69,
 'china': 138,
 'leaves': 24,
 'least': 30,
 'children': 29,
 'dead': 74,
 'coast': 33,
 'guard': 19,
 'suspends': 5,
 'search': 20,
 'efforts': 11,
 'victims': 30,
 'deadly': 27,
 'boat': 45,
 'fire': 82,
 'exchequer': 1,
 'boost': 27,
 'government': 86,
 'ahead': 52,
 'budget': 17,
 'netflix': 13,
 'dark': 5,
 'crystal': 3,
 'age': 22,
 'resistance': 1,
 'review': 95,
 'muppets': 1,
 'game': 40,
 'thrones': 2,
 'latest': 108,
 'updates': 30,
 'natural': 5,
 'wines': 2,
 'get': 97,
 'showcases': 4,
 'fall': 43,
 'competition': 5,
 'collaboration': 2,
 'paypal': 1,
 'turned': 6,
 'challengers': 3,
 'like': 107,
 'visa': 4,
 'mastercard': 2,
 'partners': 9,
 'started': 6,
 'sharing': 3,
 'data': 46,
 'drive': 16,
 'even': 24,
 'trial': 41,
 'actor': 6,
 'cuba': 2,
 'gooding': 2,
 'jr': 6,
 'groping': 3,
 'case': 65,
 'gets': 54,
 'october': 19,
 'date': 14,
 'interpreting': 1,
 'interpreter': 1,
 'lafcadio': 1,
 'hearn': 1,
 'indias': 17,
 'chandrayaan': 4,
 'ready': 29,
 'moon': 18,
 'landing': 8,
 'woman': 86,
 'survives': 1,
 'foot': 9,
 'cliff': 2,
 'south': 63,
 'dakota': 6,
 'state': 61,
 'park': 17,
 'philadelphia': 2,
 'district': 9,
 'attorney': 11,
 'exonerates': 1,
 'months': 28,
 'keith': 3,
 'hill': 3,
 'bolton': 36,
 'wanderers': 2,
 'boss': 24,
 'wont': 30,
 'mentally': 1,
 'ruin': 1,
 'young': 32,
 'players': 27,
 'trump': 453,
 'said': 22,
 'skipped': 1,
 'diplomatic': 8,
 'trip': 14,
 'monitor': 8,
 'hurricane': 134,
 'dorian': 143,
 'spent': 8,
 'weekend': 21,
 'golfing': 3,
 'illinois': 7,
 'lawsuit': 17,
 'ask': 11,
 'court': 98,
 'stop': 41,
 'merger': 3,
 'mobile': 22,
 'sprint': 3,
 'weakened': 3,
 'category': 6,
 'storm': 59,
 'maximum': 5,
 'sustained': 1,
 'winds': 8,
 'near': 43,
 'mph': 6,
 'kph': 1,
 'much': 36,
 'tougher': 6,
 'elected': 4,
 'israel': 19,
 'sends': 14,
 'firefighters': 5,
 'help': 56,
 'brazil': 23,
 'battle': 25,
 'amazon': 64,
 'fires': 32,
 'pence': 14,
 'faces': 43,
 'row': 16,
 'stay': 28,
 'irish': 90,
 'resort': 26,
 'jofra': 3,
 'archer': 4,
 'slides': 5,
 'across': 24,
 'pitch': 9,
 'football': 52,
 'match': 18,
 'teammates': 2,
 'defends': 23,
 'decision': 23,
 'doonbeg': 5,
 'property': 9,
 'private': 28,
 'equity': 3,
 'giant': 21,
 'carlyle': 1,
 'taking': 21,
 'majority': 10,
 'stake': 7,
 'startup': 26,
 'uses': 7,
 'ai': 8,
 'judge': 43,
 'smile': 1,
 'interviews': 4,
 'could': 144,
 'future': 39,
 'recruiting': 3,
 'border': 67,
 'cross': 7,
 'frank': 19,
 'mcnally': 6,
 'stresses': 1,
 'driving': 11,
 'former': 89,
 'yugoslavia': 1,
 'edge': 12,
 'turkey': 30,
 'canada': 35,
 'eliminated': 1,
 'world': 182,
 'cup': 108,
 'justin': 20,
 'bieber': 4,
 'childhood': 3,
 'fame': 4,
 'opened': 5,
 'door': 5,
 'heavy': 9,
 'drug': 28,
 'use': 42,
 'alyssa': 4,
 'milano': 4,
 'slammed': 5,
 'saying': 9,
 'shes': 6,
 'fighting': 18,
 'americans': 24,
 'rights': 29,
 'opponents': 2,
 'argue': 4,
 'commons': 6,
 'control': 31,
 'phones': 5,
 'buzz': 1,
 'class—with': 1,
 'texts': 2,
 'mom': 12,
 'dad': 9,
 'opioid': 17,
 'litigation': 1,
 'proceed': 1,
 'toward': 11,
 'flight': 19,
 'cancellations': 2,
 'reach': 18,
 'nearly': 26,
 'routes': 1,
 'delayed': 6,
 'prince': 23,
 'harry': 18,
 'launches': 33,
 'sustainable': 2,
 'travel': 19,
 'initiative': 4,
 'jet': 12,
 'criticism': 16,
 'chinese': 29,
 'deepfake': 2,
 'app': 29,
 'zao': 1,
 'comes': 21,
 'privacy': 8,
 'concerns': 16,
 'streaming': 14,
 'services': 25,
 'draw': 7,
 'subscribers': 5,
 'old': 78,
 'rock': 9,
 'roll': 9,
 'att': 13,
 'makes': 40,
 'warnermedia': 3,
 'john': 50,
 'stankey': 4,
 'presumptive': 1,
 'successor': 4,
 'ceo': 50,
 'air': 45,
 'files': 11,
 'challenge': 29,
 'onexs': 2,
 'c35': 2,
 'billion': 71,
 'buyout': 2,
 'rival': 14,
 'westjet': 2,
 'food': 34,
 'jobs': 37,
 'away': 28,
 'hondurans': 4,
 'say': 87,
 'struggling': 3,
 'survive': 8,
 'bangladesh': 6,
 'blocks': 10,
 'internet': 12,
 'rohingya': 4,
 'refugee': 8,
 'camps': 5,
 'restart': 3,
 'xbox': 4,
 'one': 144,
 'console': 2,
 'controller': 3,
 'shut': 3,
 'pottery': 1,
 'barn': 1,
 'teens': 8,
 'fantastic': 2,
 'beasts': 1,
 'collection': 11,
 'features': 16,
 'decor': 1,
 'bedding': 1,
 'potter': 3,
 'fans': 25,
 'love': 30,
 'hong': 114,
 'kong': 108,
 'targets': 10,
 'pro': 22,
 'democracy': 15,
 'activists': 17,
 'amid': 72,
 'protests': 59,
 'dying': 8,
 'home': 75,
 'overrated': 1,
 'nie': 1,
 'yuanzi': 1,
 'whose': 3,
 'poster': 3,
 'fanned': 1,
 'cultural': 3,
 'revolution': 4,
 'dies': 101,
 'oklahoma': 7,
 'man': 198,
 'hurls': 1,
 'cupcake': 1,
 'car': 61,
 'hits': 36,
 'driver': 23,
 'face': 51,
 'charged': 50,
 'assault': 20,
 'pushing': 3,
 'labels': 3,
 'consumers': 7,
 'add': 14,
 'competing': 2,
 'products': 20,
 'carts': 1,
 'amzn': 12,
 'stocks': 56,
 'drop': 21,
 'signs': 20,
 'trouble': 4,
 'manufacturing': 9,
 'walmart': 30,
 'ends': 9,
 'handgun': 2,
 'ammunition': 9,
 'sales': 35,
 'asks': 15,
 'customers': 13,
 'carry': 7,
 'guns': 16,
 'stores': 16,
 'budge': 2,
 'bahamas': 82,
 'hammered': 3,
 'slow': 11,
 'moving': 10,
 'sources': 34,
 'urgency': 2,
 'zeke': 1,
 'talks': 105,
 'rb': 5,
 'flying': 9,
 'back': 94,
 'paying': 5,
 'debit': 1,
 'card': 22,
 'leaving': 10,
 'money': 48,
 'table': 3,
 'reasons': 6,
 'ever': 36,
 'pay': 53,
 'credit': 26,
 'limerick': 6,
 'nursing': 2,
 'failed': 12,
 'investigate': 26,
 'allegation': 9,
 'abuse': 39,
 'venezuelan': 3,
 'oil': 97,
 'exports': 14,
 'lowest': 10,
 'level': 18,
 'sanctions': 13,
 'bite': 5,
 'tuesday': 11,
 'briefing': 35,
 'student': 24,
 'arrested': 49,
 'noose': 2,
 'found': 76,
 'elevator': 4,
 'justice': 29,
 'sotomayor': 4,
 'encourages': 1,
 'kids': 29,
 'book': 24,
 'uk': 125,
 'public': 31,
 'must': 31,
 'decide': 13,
 'next': 65,
 'steps': 15,
 'parliament': 45,
 'votes': 13,
 'pms': 7,
 'spokesman': 11,
 'ariana': 3,
 'grande': 3,
 'forever': 14,
 'stole': 4,
 'name': 25,
 'nintendo': 11,
 'direct': 9,
 'predictions': 8,
 'smash': 1,
 'ultimate': 4,
 'dlc': 1,
 'pokémon': 6,
 'sword': 5,
 'shield': 4,
 'starter': 3,
 'evolutions': 1,
 'construction': 9,
 'spending': 18,
 'rose': 7,
 'slight': 3,
 'july': 12,
 'italys': 16,
 'star': 48,
 'favor': 8,
 'pd': 3,
 'coalition': 14,
 'opening': 15,
 'way': 40,
 'euro': 20,
 'qualifiers': 7,
 'aaron': 4,
 'wan': 1,
 'bissaka': 1,
 'england': 39,
 'squad': 14,
 'injury': 17,
 'drivers': 8,
 'reportedly': 44,
 'locked': 6,
 'cars': 18,
 'goes': 26,
 'cloudflare': 1,
 'eyes': 11,
 'valuation': 14,
 'upcoming': 8,
 'ipo': 34,
 'deaths': 28,
 'mount': 5,
 'france': 41,
 'tries': 18,
 'serious': 8,
 'domestic': 10,
 'violence': 33,
 'path': 17,
 'map': 15,
 'update': 61,
 'storms': 3,
 'movement': 7,
 'make': 65,
 'destructive': 1,
 'experts': 19,
 'real': 48,
 'cost': 30,
 'blue': 10,
 'jeans': 3,
 'feds': 12,
 'offers': 15,
 'reprieve': 1,
 'immigrant': 4,
 'medical': 25,
 'care': 19,
 'cases': 20,
 'would': 49,
 'losses': 5,
 'un': 46,
 'im': 18,
 'steve': 10,
 'smith': 12,
 'greenhouse': 3,
 'large': 5,
 'enough': 10,
 'feed': 2,
 'eastern': 5,
 'seaboard': 1,
 'guinea': 2,
 'bissau': 1,
 'tonnes': 5,
 'cocaine': 4,
 'seized': 3,
 'biggest': 41,
 'haul': 6,
 'beach': 11,
 'wastewater': 2,
 'plant': 21,
 'blanketed': 1,
 'noxious': 1,
 'material': 1,
 'applies': 1,
 'license': 5,
 'turkish': 13,
 'broadcasting': 1,
 'rules': 32,
 'stalls': 5,
 'couple': 15,
 'burglary': 6,
 'years': 92,
 '500k': 1,
 'lottery': 3,
 'win': 81,
 'manchin': 5,
 'decides': 2,
 'running': 23,
 'west': 33,
 'virginia': 22,
 'governor': 17,
 'senate': 21,
 'gregor': 1,
 'townsend': 1,
 'believes': 3,
 'scotland': 39,
 'never': 27,
 'better': 26,
 'position': 6,
 'designer': 5,
 'bringing': 7,
 'whimsy': 1,
 'magic': 2,
 'mushrooms': 3,
 'fine': 14,
 'jewelry': 3,
 'bodies': 8,
 'recovered': 3,
 'jeffrey': 12,
 'epstein': 14,
 'york': 96,
 'hunting': 6,
 'ground': 15,
 'dance': 8,
 'studios': 4,
 'elephant': 3,
 'castle': 5,
 'stabbings': 2,
 'norman': 3,
 'bertran': 1,
 'tavarez': 1,
 'named': 20,
 'victim': 20,
 'dogs': 9,
 'cats': 2,
 'making': 40,
 'shelters': 3,
 'alive': 6,
 'melvin': 1,
 'gordon': 4,
 'holdout': 2,
 'los': 9,
 'angeles': 7,
 'chargers': 3,
 'play': 31,
 'year': 170,
 't20': 5,
 'qualifier': 5,
 'thailand': 2,
 'claim': 39,
 'two': 77,
 'run': 27,
 'ireland': 145,
 'women': 56,
 'picture': 7,
 'instagram': 19,
 'perfect': 9,
 'hotel': 22,
 'views': 6,
 'african': 24,
 'arrests': 10,
 'riots': 4,
 'spread': 8,
 'booker': 8,
 'prize': 16,
 'margaret': 12,
 'atwood': 11,
 'salman': 4,
 'rushdie': 6,
 'strong': 16,
 'shortlist': 5,
 'gmt': 90,
 'supporters': 7,
 'plan': 94,
 'democrats': 58,
 'online': 30,
 'vote': 27,
 'ambassador': 8,
 'tech': 52,
 'industry': 18,
 'times': 89,
 'uaw': 15,
 'workers': 54,
 'authorize': 1,
 'strikes': 22,
 'detroit': 4,
 'hezbollah': 8,
 'plans': 69,
 'advanced': 7,
 'missile': 19,
 'lebanons': 5,
 'bekaa': 2,
 'weakens': 2,
 'bought': 7,
 '€112m': 1,
 'lotto': 1,
 'ticket': 5,
 'change': 57,
 'chicken': 13,
 'fillet': 1,
 'bts': 1,
 'create': 6,
 'forest': 10,
 'seoul': 1,
 'celebrate': 12,
 'rms': 1,
 'birthday': 12,
 'convicted': 17,
 'hacker': 3,
 'called': 17,
 'testify': 3,
 'grand': 25,
 'jury': 22,
 'dive': 14,
 'company': 51,
 'owner': 16,
 'among': 20,
 'missing': 29,
 'pound': 4,
 'sinks': 3,
 'three': 46,
 'election': 86,
 'threat': 26,
 'adds': 14,
 'jeopardy': 5,
 'texas': 47,
 'popeyes': 6,
 'ran': 3,
 'sandwiches': 3,
 'pulls': 9,
 'gun': 56,
 'atlanta': 3,
 'comfort': 2,
 'evacuees': 5,
 'free': 39,
 'cnn': 49,
 'mistakenly': 2,
 'alabama': 36,
 'mississippi': 7,
 'mocking': 2,
 'prediction': 1,
 'british': 58,
 'poised': 15,
 'consider': 7,
 'bill': 32,
 'trumpism': 1,
 'take': 87,
 'deeper': 2,
 'root': 7,
 'hampshire': 13,
 'thieves': 3,
 'broke': 9,
 'australian': 10,
 'apple': 60,
 'store': 18,
 'sledgehammer': 1,
 'worth': 21,
 'may': 82,
 'already': 6,
 'nothing': 6,
 'aapl': 26,
 'openings': 6,
 'experience': 11,
 'menu': 8,
 'nadal': 13,
 'drops': 20,
 'set': 73,
 'advances': 6,
 'last': 42,
 'eight': 9,
 'watch': 89,
 'floodwaters': 2,
 'dangerous': 10,
 'responders': 1,
 'james': 20,
 'mitchell': 2,
 'northampton': 1,
 'saints': 6,
 'sign': 26,
 'connacht': 4,
 'scrum': 1,
 'half': 31,
 'passengers': 11,
 'werent': 4,
 'wearing': 5,
 'life': 59,
 'jackets': 1,
 'suspect': 27,
 'fatally': 5,
 'shot': 48,
 'kaukauna': 1,
 'huawei': 20,
 'claims': 45,
 'threatened': 13,
 'employees': 21,
 'attacked': 13,
 'network': 9,
 'ystalyfera': 1,
 'landslide': 1,
 'risk': 32,
 'schools': 19,
 'portable': 3,
 'classroom': 3,
 'defended': 3,
 'postmaster': 1,
 'retires': 4,
 'absolutely': 3,
 'brilliant': 4,
 'made': 42,
 'history': 30,
 'michelle': 3,
 'bachelet': 2,
 'intense': 2,
 'hurricanes': 7,
 'cause': 11,
 'damage': 19,
 'â€˜genocide': 1,
 'cardâ€™': 1,
 'myanmar': 3,
 'verification': 1,
 'scheme': 8,
 'condemned': 3,
 'malibu': 4,
 'hiker': 4,
 'heat': 13,
 'stroke': 2,
 'others': 8,
 'rescued': 8,
 'water': 27,
 'arsenal': 9,
 'defence': 9,
 'balance': 5,
 'hard': 14,
 'come': 19,
 'sisyphus': 2,
 'underlines': 2,
 'coastal': 4,
 'cities': 17,
 'endless': 2,
 'rebuilding': 5,
 'task': 3,
 'anak': 2,
 'krakatau': 2,
 'volcanos': 1,
 'tsunami': 3,
 'trigger': 2,
 'relatively': 1,
 'small': 22,
 'mary': 4,
 'robinson': 3,
 'reminds': 4,
 'global': 37,
 'investors': 31,
 'climate': 74,
 'duty': 6,
 'donald': 44,
 'congratulates': 2,
 'poland': 4,
 'nation': 16,
 'somber': 1,
 'anniversary': 21,
 'nazi': 7,
 'invasion': 2,
 'also': 15,
 'many': 19,
 'polish': 5,
 'country': 24,
 'mineral': 2,
 'based': 9,
 'sunscreen': 2,
 'doesnt': 15,
 'leave': 34,
 'white': 61,
 'residue': 1,
 'behind': 30,
 'protects': 3,
 'familys': 2,
 'fair': 6,
 'skin': 7,
 'reef': 2,
 'friendly': 5,
 'imitating': 1,
 'stephen': 11,
 'king': 18,
 'art': 18,
 'scares': 1,
 'ethiopian': 7,
 'opposition': 23,
 'parties': 9,
 'threaten': 9,
 'boycott': 6,
 'bullied': 6,
 'dancing': 5,
 'bossing': 1,
 'britains': 10,
 'got': 25,
 'talents': 1,
 'masked': 2,
 'boeing': 17,
 'shares': 31,
 'slide': 10,
 'max': 18,
 'delay': 25,
 'threatens': 18,
 'holiday': 12,
 'season': 32,
 'ba': 7,
 'kristen': 2,
 'stewart': 3,
 'reflects': 5,
 'robert': 49,
 'pattinson': 2,
 'romance': 2,
 'coming': 28,
 'bosses': 4,
 'reveal': 16,
 'wish': 3,
 'tell': 11,
 'day': 92,
 'terry': 2,
 'gilliam': 2,
 'disagree': 1,
 'cleese': 1,
 'iran': 82,
 'nuclear': 36,
 'violation': 1,
 'send': 14,
 'wrong': 22,
 'signal': 5,
 'french': 32,
 'source': 34,
 'havent': 4,
 'gotten': 2,
 'iphone': 44,
 'heres': 101,
 'cant': 19,
 'wait': 5,
 'buy': 36,
 'yearslong': 1,
 'tax': 40,
 'dispute': 15,
 'big': 80,
 'companies': 39,
 'billions': 4,
 'wall': 126,
 'street': 119,
 'journal': 67,
 'landfall': 8,
 'florida': 51,
 'east': 20,
 'approved': 5,
 'prorogation': 2,
 'august': 32,
 'edinburgh': 7,
 'told': 28,
 'raymond': 1,
 'mccord': 1,
 'chapter': 11,
 'manages': 1,
 'entertain': 1,
 'hours': 23,
 'huge': 10,
 'box': 13,
 'office': 36,
 'hit': 72,
 'feel': 16,
 'familiar': 1,
 'seeking': 8,
 '10m': 1,
 'death': 108,
 'toll': 23,
 'jumps': 6,
 'several': 10,
 'german': 24,
 'critic': 1,
 'fat': 4,
 'shaming': 2,
 'soprano': 2,
 'kathryn': 1,
 'lewek': 1,
 'shocking': 4,
 'things': 35,
 'teacher': 13,
 'youd': 1,
 'thought': 12,
 'trumps': 105,
 'blessing': 1,
 'pompeo': 34,
 'sought': 8,
 'reset': 4,
 'leaders': 30,
 'envoy': 16,
 'turn': 19,
 ...}

In [7]:
# Menghitung IDF
n_document = len(dataset_1)

def calc_IDF(__n_document, __DF):
    IDF_Dict = {}
    for term in __DF:
        IDF_Dict[term] = np.log(__n_document / (__DF[term] + 1))
    return IDF_Dict
  
#Stores the idf dictionary
IDF = calc_IDF(n_document, DF)

In [8]:
#calc TF-IDF
def calc_TF_IDF(TF):
    TF_IDF_Dict = {}
    #For each word in the review, we multiply its tf and its idf.
    for key in TF:
        TF_IDF_Dict[key] = TF[key] * IDF[key]
    return TF_IDF_Dict

#Stores the TF-IDF Series
dataset_1["TF-IDF_dict"] = dataset_1["TF_dict"].apply(calc_TF_IDF)

In [9]:
# Check TF-IDF result
index = 90

print('%20s' % "term", "\t", '%10s' % "TF", "\t", '%20s' % "TF-IDF\n")
for key in dataset_1["TF-IDF_dict"][index]:
    print('%20s' % key, "\t", dataset_1["TF_dict"][index][key] ,"\t" , dataset_1["TF-IDF_dict"][index][key])

                term 	         TF 	              TF-IDF

              gregor 	 0.14285714285714285 	 1.1985448945837724
            townsend 	 0.14285714285714285 	 1.1985448945837724
            believes 	 0.14285714285714285 	 1.0995238687894944
            scotland 	 0.14285714285714285 	 0.7705831412189165
               never 	 0.14285714285714285 	 0.8215367046387354
              better 	 0.14285714285714285 	 0.8267320823774319
            position 	 0.14285714285714285 	 1.0195787562272913

In [10]:
# sort descending by value for DF dictionary 
sorted_DF = sorted(DF.items(), key=lambda kv: kv[1], reverse=True)[:50]

# Create a list of unique words from sorted dictionay `sorted_DF`
unique_term = [item[0] for item in sorted_DF]

def calc_TF_IDF_Vec(__TF_IDF_Dict):
    TF_IDF_vector = [0.0] * len(unique_term)

    # For each unique word, if it is in the review, store its TF-IDF value.
    for i, term in enumerate(unique_term):
        if term in __TF_IDF_Dict:
            TF_IDF_vector[i] = __TF_IDF_Dict[term]
    return TF_IDF_vector

dataset_1["TF_IDF_Vec"] = dataset_1["TF-IDF_dict"].apply(calc_TF_IDF_Vec)

print("print first row matrix TF_IDF_Vec Series\n")
print(dataset_1["TF_IDF_Vec"][0])

print("\nmatrix size : ", len(dataset_1["TF_IDF_Vec"][0]))

print first row matrix TF_IDF_Vec Series

[0.0, 0.0, 0.0, 0.4277023667427866, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

matrix size :  50

In [11]:
# Convert Series to List
TF_IDF_Vec_List = np.array(dataset_1["TF_IDF_Vec"].to_list())

# Sum element vector in axis=0 
sums = TF_IDF_Vec_List.sum(axis=0)

data = []

for col, term in enumerate(unique_term):
    data.append((term, sums[col]))
    
ranking = pd.DataFrame(data, columns=['term', 'rank'])
ranking.sort_values('rank', ascending=False)

         term        rank
48        gmt  407.425084
0          us  203.785911
2       trump  174.142940
1         new  169.452673
3        says  151.907922
4      brexit  117.421807
5         man   97.864182
6       world   91.607767
8        deal   80.335355
7        year   79.982706
10    ireland   79.155497
9      police   79.026771
14    johnson   77.770063
16      china   74.148575
13     dorian   71.136306
12        one   69.475791
17  hurricane   68.955404
25     latest   67.801934
15      first   66.940704
19         uk   66.467935
22      house   65.742784
28      death   64.250576
11      could   63.335636
24      saudi   62.637095
32       dies   61.943205
41     review   60.236210
23       hong   59.925356
21    million   58.980829
34     killed   57.637204
26        cup   57.584241
27       kong   57.450278
30      talks   56.824717
18       wall   55.929139
43       plan   55.045112
20     street   54.776961
35      court   53.747781
38        get   53.699152
29       like   52.210600
40       york   52.034972
31     trumps   52.023689
47      irish   51.513586
37      trade   51.086264
44      years   50.695762
45        day   50.606049
42       back   49.561586
39        oil   49.551265
36       live   48.146691
46     people   46.616694
49     former   45.177895
33      heres   41.421186

<h3>TF-IDF of Dataset 2</h3>

In [12]:
dataset_2.head()

,Title,Plot,Movie,length
0,Kansas Saloon Smashers,"A bartender is working at a saloon, serving dr...","['bartender', 'working', 'saloon', 'serving', ...",522
1,Love by the Light of the Moon,"The moon, painted with a smiling face hangs ov...","['moon', 'painted', 'smiling', 'face', 'hangs'...",466
2,The Martyred Presidents,"The film, just over a minute long, is composed...","['film', 'minute', 'long', 'composed', 'two', ...",459
3,"Terrible Teddy, the Grizzly King",Lasting just 61 seconds and consisting of two ...,"['lasting', 'seconds', 'consisting', 'two', 's...",922
4,Jack and the Beanstalk,The earliest known adaptation of the classic f...,"['earliest', 'known', 'adaptation', 'classic',...",754

In [13]:
# convert list formated string to list
import ast

def convert_text_list(texts):
    texts = ast.literal_eval(texts)
    return [text for text in texts]

dataset_2["movie_list"] = dataset_2["Movie"].apply(convert_text_list)


print(dataset_2["movie_list"][90])

print("\ntype : ", type(dataset_2["movie_list"][90]))

['chaplins', 'character', 'attempts', 'convince', 'passerby', 'director', 'henry', 'lehrman', 'give', 'money', 'chaplin', 'shown', 'flirting', 'woman', 'proposes', 'accepts', 'lehrman', 'enters', 'present', 'woman', 'flowers', 'ring', 'woman', 'refuses', 'citing', 'shes', 'engaged', 'lerhman', 'sees', 'chaplin', 'slapstick', 'fight', 'two', 'ensues', 'later', 'lehrmans', 'character', 'takes', 'photograph', 'automobile', 'accident', 'chaplins', 'character', 'steals', 'camera', 'whilst', 'journalist', 'helping', 'trapped', 'motorist', 'rushes', 'back', 'paper', 'claim', 'photograph', 'short', 'pursuit', 'keystone', 'kops', 'follows']

type :  <class 'list'>

In [14]:
def calc_TF(document):
    # Counts the number of times the word appears in review
    TF_dict = {}
    for term in document:
        if term in TF_dict:
            TF_dict[term] += 1
        else:
            TF_dict[term] = 1
    # Computes tf for each word
    for term in TF_dict:
        TF_dict[term] = TF_dict[term] / len(document)
    return TF_dict

dataset_2["TF_dict"] = dataset_2['movie_list'].apply(calc_TF)

dataset_2["TF_dict"].head()

0    {'bartender': 0.041666666666666664, 'working':...
1    {'moon': 0.06818181818181818, 'painted': 0.022...
2    {'film': 0.023809523809523808, 'minute': 0.023...
3    {'lasting': 0.011764705882352941, 'seconds': 0...
4    {'earliest': 0.014084507042253521, 'known': 0....
Name: TF_dict, dtype: object

In [15]:
# Check TF result
index = 90

print('%20s' % "term", "\t", "TF\n")
for key in dataset_2["TF_dict"][index]:
    print('%20s' % key, "\t", dataset_2["TF_dict"][index][key])

                term 	 TF

            chaplins 	 0.03333333333333333
           character 	 0.05
            attempts 	 0.016666666666666666
            convince 	 0.016666666666666666
            passerby 	 0.016666666666666666
            director 	 0.016666666666666666
               henry 	 0.016666666666666666
             lehrman 	 0.03333333333333333
                give 	 0.016666666666666666
               money 	 0.016666666666666666
             chaplin 	 0.03333333333333333
               shown 	 0.016666666666666666
            flirting 	 0.016666666666666666
               woman 	 0.05
            proposes 	 0.016666666666666666
             accepts 	 0.016666666666666666
              enters 	 0.016666666666666666
             present 	 0.016666666666666666
             flowers 	 0.016666666666666666
                ring 	 0.016666666666666666
             refuses 	 0.016666666666666666
              citing 	 0.016666666666666666
                shes 	 0.016666666666666666
             engaged 	 0.016666666666666666
             lerhman 	 0.016666666666666666
                sees 	 0.016666666666666666
           slapstick 	 0.016666666666666666
               fight 	 0.016666666666666666
                 two 	 0.016666666666666666
              ensues 	 0.016666666666666666
               later 	 0.016666666666666666
            lehrmans 	 0.016666666666666666
               takes 	 0.016666666666666666
          photograph 	 0.03333333333333333
          automobile 	 0.016666666666666666
            accident 	 0.016666666666666666
              steals 	 0.016666666666666666
              camera 	 0.016666666666666666
              whilst 	 0.016666666666666666
          journalist 	 0.016666666666666666
             helping 	 0.016666666666666666
             trapped 	 0.016666666666666666
            motorist 	 0.016666666666666666
              rushes 	 0.016666666666666666
                back 	 0.016666666666666666
               paper 	 0.016666666666666666
               claim 	 0.016666666666666666
               short 	 0.016666666666666666
             pursuit 	 0.016666666666666666
            keystone 	 0.016666666666666666
                kops 	 0.016666666666666666
             follows 	 0.016666666666666666